<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>정육면체 만들기</title>
    <style>
        body {
            margin: 0;
        }
    </style>
</head>

<body>
    <!-- script 태그를 이용해서 three.js와 연결시켜준다. -->
    <script src="https://threejs.org/build/three.js"></script>
    <script>
        const scene = new THREE.Scene();

        const camera = new THREE.PerspectiveCamera(75, window.innerWidth / window.innerHeight, 0.1, 1000);

        const renderer = new THREE.WebGLRenderer();
        renderer.setSize(window.innerWidth, window.innerHeight);
        document.body.appendChild(renderer.domElement);

        const geometry = new THREE.BoxGeometry(1, 1, 1);
        const material = new THREE.MeshBasicMaterial({ color: 0x00ff00 });
        const cube = new THREE.Mesh(geometry, material);
        scene.add(cube);

        camera.position.x = 5;
        camera.position.y = 5;
        camera.position.z = 5;
        camera.lookAt(new THREE.Vector3(0,0,0));

        function animate() {
            requestAnimationFrame(animate);
            renderer.render(scene, camera);
        }
        animate();
    </script>
</body>

</html>