{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{%static 'css/style.css'%}">

    <style>
        body {
            /*background img static으로 넣기*/
        }
        .box {
    width: 150px;
    height: 150px; 
    border-radius: 70%;
    overflow: hidden;
}
.profile {
    
    object-fit: cover;
 
    border-radius: 70%;
    overflow: hidden;
    width: 50px;
    height: 50px;
    border: 10px black;
}
    </style>
</head>

<body>
    <!--이부분클래스 수정하기-->
    <div class="mycar-wrap">
        <div class="mycar-html" style="align-items: center; ">
            <div class="logobox">
                <img class="minilogo" src="{% static 'img/Union.png'%}" alt="">
                <h2 style=" display: inline;"> Hello, Ericson!
                </h2>
                <img class="profile" src="{%static 'img/profile.jpeg'%}" alt="">
                  
            </div>

            <div class="buttons">
                <!-- <a href="#" class="btn green rounded">24°C <br>climate</a>
                <a href="#" class="btn yellow rounded">Safety Map</a>
                <a href="#" class="btn green rounded">Button</a> -->
                <br><br><br>
                <span class="roundedbox" style="background: #586DF6;
                 color: white;">
                    <p>Climate</p>
                    <!--watersensor 수치-->
                    <!-- {% for Sensor in sensorValues %}
                        {{Sensor.watersensor}}
                    {% endfor %} -->
                    <p>{{weather}} / {{status}}</p> -->
                    
                    <img src="{%static 'img/weather.png'%}" alt="" style="width: 40px;">
                </span>
                <span class="roundedbox" style="background-color: #FFE600;" onclick="location.href='https://www.safemap.go.kr/main/smap.do?flag=2#'">
                    <p>Safety Map</p>
                    <img src="{%static 'img/map.png'%}" alt="" style="width: 40px;">
                </span>
                <span class="roundedbox" style="background-color: #EF4040; color: white;">
                    <p>Maintenance</p>
                    <!--수치받아서 여기에 넣기-->
                    <p>2 Mild</p>
                    <img src="{%static 'img/warning2.png'%}" alt="" style="width: 40px;">
                </span>


            </div>
            <div class="imgbox">
                <img class="maincarimg" src="{% static 'img/carreal.png' %}" alt="">
                <p>
                    {% if sensorstate == 1%}
                    살짝쿵 침수중
                    {%endif%}
                    {% elif sensorstate == 2%}
                    문이 안열려요ㅠㅠ
                    {%endif%}
                    </p>
            </div>
        </div>


    </div>
    </div>
</body>

</html>